#textServers{
    color: green;
}
#serverTable tr:hover{
    background: #1ac11e;
}

.form-control {
    width: auto;
}
#leftDiv,#rightDiv{
    position: absolute;
/*    overflow-x: auto;*/
    padding: 5px;
}
#leftDiv{
    top: 5%;
    left: 0;
    width: 60%;
}
#rightDiv{
    /*min-width: 250px;*/
    top: 5%;
    right: 0;
    width: 40%;
}




